* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    background: #94B49F;
    overflow: auto;
}

header {
    padding: 10px;
    text-align: center;
    background: #94B49F;
}

header h1 {
    font-size: 50px;
}

nav {
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    float: left;
    width: 75%;
}

aside {
    float: left;
    width: 25%;
    background-color: #94B49F;
    padding-left: 20px;
    text-align: center;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 300px;
}

.card {
    background-color: #FCF8E8;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.profile {
    width: 100%;
}

footer {
    padding: 5px;
    text-align: center;
    background: #333;
    color: white;
    margin-top: 20px;
    display: block;
}

@media screen and (max-width: 800px) {

    .content,
    aside {
        width: 100%;
        padding: 0;
    }

    .picture {
        width: 60%;
        height: 200px;
    }

    .profile {
        width: 30%;
    }
}

@media screen and (max-width: 400px) {
    .nav a {
        float: none;
        width: 100%;
    }
}